################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.cs
/CustomControls/obj/Debug/CustomControls.csproj.FileListAbsolute.txt
