<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <RootVersion>
      <ErrorCaption>Layout Error</ErrorCaption>
      <ErrorMessage>
        Your layout settings file is either corrupted or has newer version.
        Press OK to reset the settings to default.
      </ErrorMessage>
      <Description />
      <Version>1.1.1.1</Version>
    </RootVersion>
    <RootPanel Orientation="Horizontal" DockWidth="250" DockHeight="150">
      <LayoutAnchorablePane DockWidth="250" DockHeight="150">
        <ExtendedLayoutAnchorable AutoHideWidth="250" AutoHideMinWidth="250" AutoHideMinHeight="100" Title="WORKSPACE" IsSelected="True" ContentId="workspace" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical" DockHeight="150">
        <LayoutDocumentPaneGroup Orientation="Horizontal" DockWidth="250">
          <ExtendedLayoutDocumentPane />
        </LayoutDocumentPaneGroup>
        <LayoutAnchorablePane Id="ba1f7c59-0f9a-49c9-9db5-b6074060693b" DockWidth="250" DockHeight="150" />
      </LayoutPanel>
    </RootPanel>
    <TopSide />
    <RightSide>
      <ExtendedLayoutAnchorGroup>
        <ExtendedLayoutAnchorable AutoHideWidth="250" AutoHideMinWidth="250" AutoHideMinHeight="100" Title="HELP" ContentId="helpPane" />
        <ExtendedLayoutAnchorable AutoHideWidth="250" AutoHideMinWidth="250" AutoHideMinHeight="100" Title="LIBRARY" ContentId="Help" />
      </ExtendedLayoutAnchorGroup>
    </RightSide>
    <LeftSide />
    <BottomSide>
      <LayoutAnchorGroup PreviousContainerId="ba1f7c59-0f9a-49c9-9db5-b6074060693b">
        <ExtendedToolsPanelLayoutAnchorable Title="Logs" IsPinned="True" IsToggleAutoHide="True" CanHide="False" AutoHideWidth="250" AutoHideMinWidth="250" AutoHideMinHeight="100" ContentId="Tools" />
      </LayoutAnchorGroup>
    </BottomSide>
    <FloatingWindows />
    <Hidden />
  </LayoutRoot>
</configuration>